<div class="container">
  <div class="calender">

  </div>
  <div class="list">
    <table border="1">
      <caption>食べ物について</caption>
        <tr align="center">
          <th>購入日</th>
          <th>賞味期限</th>
          <th>残り日数</th>
          <th>商品名</th>
        </tr>
        <tr align="center">
          <td>20XX年1月X日</td>
          <td>20XX年1月X日</td>
          <td>あと○日</td>
          <td>人参</td>
        </tr>
    </table>
  </div>
</div>