// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list {
  margin: 10px auto;
  width:500px;
}

.list table {
  margin: 10px auto;
  width:100%;
}